{%extends 'base.html'%}
{%load static%}
{%block link%}
    <link href="{% static 'css/bootstrap.css'%}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/search.css'%}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/about.css'%}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/profile.css'%}" rel="stylesheet" type="text/css">

{%endblock%}
{%block content%}
        <div class="profile">
            <div class="about-topic">
                <div class="about-hotel">User Profile</div>
            </div>
            <div class="profile-main">
                <div class="profile-image">
                    <img src="{{user.profile.image.url}}">
                </div>
                <div class="profile-details">
                    <div class="profile-name">{{user.username}}</div>
                    <div class="email">
                        <div class="email-head">Email:</div>
                        <div class="email-information">{{user.email}}</div>
                    </div>
                    <div class="email">
                        <div class="email-head">Phone:</div>
                        <div class="email-information">{{user.profile.phone}}</div>
                    </div>
                    <div class="email">
                        <div class="email-head">Address:</div>
                        <div class="email-information">{{user.profile.address}}</div>
                    </div>
                    <div class="email">
                        <div class="email-head">Created:</div>
                        <div class="email-information">{{user.date_joined}}</div>
                    </div>
                    <div class="email">
                        <div class="email-head">Booking No:</div>
                        <div class="email-information">4</div>
                    </div>
                    <form class="btns" method="get" action="{%url 'update' %}">
                        {% csrf_token %}
                        <button>Edit</button>
                    </form>
                </div>
            </div>
            {%include '../reservations/list.html'%}
        </div>
{%endblock%}