 <footer>
    <div class="footer">
      <div class="footer-left">
        <div class="hotel-logo">
          <span>Tra</span>elisy</a>
        </div>
        <div class="reservation-info">
          <div class="reservation-one">
            <i class="material-icons">location_on</i>
            <span>Kupondole, Lalitpur</span>
          </div>
          <div class="reservation-one">
            <i class="material-icons">phone_android</i>
            <span>+977-9848285743</span>
          </div>
          <div class="reservation-one">
            <i class="material-icons">email</i>
            <span>info@travelisy.com.np</span>
          </div>
        </div>
      </div>
      <div class="footer-left">
        <div class="hotel-logo">
          Hotel Reservation
        </div>
        <div class="reservation-info">
          <div class="reservation-one">
            <span>Services</span>
          </div>
          <div class="reservation-one">
            <span>Properties</span>
          </div>
          <div class="reservation-one">
            <span>Policy</span>
          </div>
        </div>
      </div>
      <div class="footer-left">
        <div class="hotel-logo">
          Location
        </div>
        <div class="reservation-info">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1925.5040283348171!2d85.31302609035542!3d27.685207583022557!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39eb19b4ad7096dd%3A0x29fa3d73b99dcc97!2sKupondole%2C%20Lalitpur%2044600!5e0!3m2!1sen!2snp!4v1583053363792!5m2!1sen!2snp" width="300" height="130" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <span>Copyright @ travelisy.com.np</span>
    </div>
  </footer>