{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css?family=Darker+Grotesque&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dawning+of+a+New+Day&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{%static 'css/base.css'%}">
</head>
<body>
    <div class="container">
        <div class="left_box">
            <img src="{% static 'image/background.jpeg'%}">
            <div class="login-image">
                <div class="logo nav-brand">
                    <a><span>Trav</span>elisy</a>
                </div>
                <div class="left-description">
                    <h1>Welcome to Travelisy</h1>
                    <span>Best hotel of all time. It has all the facilities you need to feel cozy. It has self rated by the customers itself.</span>
                    <button>Register</button>
                </div>
            </div>
        </div>
        <div class="right_box">
            <div class="register">
                <div class="register-text">Register</div>
                <div class="register-description">
                    <span>Welcome to travelisy to easily book hotel</span>
                </div>
                <form action="{%url 'register'%}" method="post">
                    {% csrf_token %}
                     <div class="register-name">
                        <label>Username</label>
                        <input type="text" name="username" placeholder="John wick">
                    </div>
                    <div class="register-name">
                        <label>Email</label>
                        <input type="text" name="email" placeholder="you@example.com">
                    </div>
                    <div class="register-name">
                        <label>Password</label>
                        <input type="password" name="password" placeholder="Enter Your Password">
                    </div>
                    <div class="register-name">
                        <label> Confirm Password</label>
                        <input type="password" name="password2" placeholder="Enter Your Password">
                    </div>
                    <div class="button">
                        <input type="submit" value = 'Register' >
                    </div>
                    <div class="account">
                        <div class="already-text">Already have an account?</div>
                        <div class="login-link"><a href="#">Login</a></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>